@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root{
    --black: #212121;
    --dark: #282828;
    --light: #FBFBFB;
    --yellow: #F3FF6E;
    --light-white: rgba(251, 251, 251, 0.8);
    --light-green: #A2F6B9;
    --light-blue: #10CFE9;
    --dark-grey: #868686;
    --light-grey: #C4C4C4;

}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
    font-family: sans-serif;
    font-weight: 550;
    background-color: var(--light-grey);
}

.navbar-container {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.logo {
    padding: 0.5em 2em;
    background-color: var(--yellow);
    color: #000;
    border-radius: .5em;
    margin: 2em;
    font-family: 'Kanit', sans-serif;
}

.links {
    list-style: none;
}

.items1, .items2, .items3 {
    display: inline-block;
    background-color: var(--light-green);
    color: #212;
    margin: 1.5em 1em;
    padding: .3em 2em;
    border-radius: 10px;
}

/* section 1 */
.content-section {
	display: grid;
	grid-template-area: 
    "a a 0 0 0"
    "b d b d b"
    "c c c e e";
}

.content-container {
	display: grid;
    background-color: #282828;
    border: 2px solid black;
    position: relative;
    color: var(--light);
    width: 35em;
    margin: .5em 1em;

}

.content-heading{
    height: auto;
    width: 180px;
    left: 0.5em;
    background-color: var(--dark-grey);
    margin: 1em 1rem;
    border-radius: .3em;
    padding: .5rem;
    grid-area: a 0;
}

.lorem-content {
    background-color: var(--light-grey);
    padding: 2em;
    margin: -0.7em 1rem;
    border-radius: .6em;
    margin-right: 6rem;
    grid-area: b d;
}

.eclipse {
	grid-area:  e c ;
	place-items: end;
	justify-self:end;
	background-color: var(--dark);
}

.eclipse2 {
	position: absolute;
	margin-top: 2rem;
	bottom: 0;
	margin:0;
	z-index: 1;
}

/* second content */

.next-content {
	background-color: var(--light-grey);
	padding: .7rem;
	margin: .5rem 1rem;
	margin-left: 2rem;
	margin-bottom: 3rem;
	border-radius: .6em;
	border: 1px solid black;
}

.content-heading2 {
	height: auto;
    width: 180px;
    left: 0.5em;
    background-color: var(--dark-grey);
    margin: 1em 1rem;
    margin-left: 2rem;
    border-radius: .3em;
    padding: .5rem;
}
/* message section */

.input-container {
	margin: .7rem;
	background-color: var(--light-white);
	height: 35rem;
	width: 22rem;
	border: .2rem solid black;
	border-radius: .8em;
	position: absolute;
	right:0;
}

input {
	outline: none;
	border: none;
	background-color: rgba(0,0,0,0)
}

input ::placeholder{
	text-align: left;
	margin-right: 1em;
}

.input-container input, textarea{
	margin: 2rem 1rem;
	width:85%;
	border-bottom: 1px solid black;
}

.input-container h4{
	margin: 0 1em;
	padding: 0;
}

.input-container [placeholder] {
	 
}

.input-container textarea {
	border: 1px solid black;
	border-radius: .8em;
	height: 17em;
	width: 85%;
}

.input-container button {
	font-size: 1rem;
	margin:  .5rem 1rem;
	padding: .5rem;
	border-radius: .4em;
	background-color: #10cfe9;
	border:none
}

/* green section */
.green-area {
	height: 7rem;
	margin: 1rem;
	background-color: var(--light-green);
	border: 2px solid black;
	border-radius: .6em;
	diaplay: flex;
	justify-content: space-between;
 
}

/* font awesome icons */
.green-area i {
	font-size: 4rem;
    justify-content: space-between;
    margin: 2rem 7rem;
}

@media screen and (max-width: 900px) {
    .logo {
        padding: 1em 1.5em;
        margin: 1em;
        font-size: 1em;
        }

        .content-container {
            width: auto;
        }
        .input-container {
			position: relative;
			width: auto;
			margin: 1rem;
	}
	
	.green-area i {
	font-size: 4rem;
    justify-content: space-between;
    margin: 2rem 6rem;
	}
}


@media screen and (max-width:650px) {
    .links {
        display:none;
    }

    .logo {
    font-size: 0.7em;
    }

    .content-container {
        width: auto;
    }
	
	.input-container {
		position: static;
		width: auto;
		margin: 1rem;
	}
	
	.green-area i {
	font-size: 4rem;
    justify-content: space-between;
    margin: 2rem 2.1rem;
	}
}
