@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root{
    --black: #212121;
    --dark: #282828;
    --light: #FBFBFB;
    --light-green: #A2F6B9;
    --light-blue: #10CFE9;
    --dark-grey: #868686;
    --light-grey: #C4C4C4;

}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
    font-family: sans-serif;
    font-weight: 550;
}

.navbar-container {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.logo {
    padding: 0.5em 2em;
    background-color: #F3FF6E;
    color: #000;
    border-radius: .5em;
    margin: 2em;
    font-family: 'Kanit', sans-serif;
}

.links {
    list-style: none;
}

.items1, .items2, .items3 {
    display: inline-block;
    background-color: #A2F6B9;
    color: #212;
    margin: 1.5em 1em;
    padding: .3em 2em;
    border-radius: 10px;
}

.content-section {
    position: relative;
}

.content-container {
    background-color: #282828;
    position: absolute;
    color: var(--light);
    width: 35em;
}

.content-heading{
    display: inline-block;
    height: auto;
    width: 180px;
    left: 0.5em;
    background-color: var(--dark-grey);
    margin: 1em 1em;
    padding: 0;
}
.lorem-content {
    background-color: var(--light-grey);
    padding: 0 1em;
    margin: 1em 1em;
}

.items1, .items2, .items3 {
    /* display: inline-block; */
    background-color: var(--light-green);
    color: #212121;
    margin: .5em;
    padding: .5em;
    border-radius: 10px;
}

.eclipse {
    background-color: var(--dark);
    right: 0;
    width: 100%;

}




@media screen and (max-width: 800px) {
    .logo {
        padding: 1em 1.5em;
        margin: 1em;
        font-size: 1em;
        }

        .content-container {
            width: auto;
        }
}


@media screen and (max-width:550px) {
    .links {
        display:none;
    }

    .logo {
    font-size: 0.7em;
    }

    .content-container {
        width: auto;
    }

}