 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lorem-project-Home</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="shortcut icon" type="image/png" href="static/favicon/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>
    <nav class="navbar-container">
        <div class="logo">Lorem5</div>
        <span class="nav-bars"><i class="fas fa-bars"></i></span>
        <ul class="links">
            <li class="items1">Home</li>
            <li class="items2">Contact</li>
            <li class="items3">About</li>
        </ul>
    </nav>

    <section class="content-section">
        <div class="content-container">
            <h2 class="content-heading">Lorem, ipsum.</h2>
    <!--        <p class="lorem-content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa suscipit tenetur ipsam quidem corrupti, atque aspernatur facere. Iste fuga nam quos perferendis nihil unde voluptatum saepe, temporibus repudiandae. Quisquam, aut in exercitationem dolorum vero dicta ducimus expedita incidunt hic. Vero quae, dolores sequi accusamus consectetur excepturi qui fuga ad sapiente ullam voluptatibus aspernatur quisquam laboriosam modi impedit inventore veniam voluptatum numquam animi iste cumque enim ipsam ab. Voluptates, eligendi impedit!</p>-->
                	<p class="lorem-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <svg class="eclipse" width="5em" height="5em" viewBox="0 0 158 157" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMaxYMin">
                    <path id="Ellipse2" d="M0 157C3.66338e-06 115.361 11.1434 72.4916 40.7742 43.0484C70.4049 13.6052 116.096 -4.9654e-07 158 0V157L0 157Z" fill="#10CFE9"/>
                </svg>
        </div>
        <div class="input-container">
        <form method='post'>
        	{% csrf_token %}
			<input name = 'Name' type="text" placeholder="Name"></br>
			<input name = 'Email' type="email" placeholder="Email"></br>
			<h4>Your message</h4>
			<textarea name = 'Message' type="text-area">
			</textarea>
			<button type="submit" class"send-button">Send</button>
			</form>
	</div>

    </section>
    
	<section class="content-section2">
		<div class="content-container">
			<div class='svg'>
			<h3 class='content-heading2'>Why do we use it?</h3>
			<svg class="eclipse2" width="3em" height="3em" viewBox="0 0 127 120" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M127 120C127 104.241 123.715 88.6371 117.333 74.078C110.95 59.5189 101.596 46.2902 89.8026 35.1472C78.0095 24.0042 64.0091 15.165 48.6008 9.13445C33.1924 3.10389 16.6779 -6.88831e-07 -5.55135e-06 0L0 120H127Z" fill="#10CFE9"/>
				</div>
			<div class="next-content">
				<p>
					It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
				</p>
			</div>
		</div>  
	</section>

	<section class="green-section">
		<div class="green-area">
			<span class="icon"><i class="fab fa-html5"></i></span>
			<span class="icon"><i class="fab fa-js-square"></i></span>			
			<span class="icon"><i class="fab fa-css3"></i></span>
		</div>
	</section>
    
    <!-- javascript -->
 <!--   <script src="http://100.69.165.58:8080/target/target-script-min.js#anonymous"></script>  -->
    <script src="static/script.js"></script>
</body>
</html>